@model MvcPrimeiroExemplo.Models.Aluno
@{
    ViewBag.Title = "Inserir";
}

<h2>Inserir</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(d => d.Nome)
    @Html.TextBoxFor(d => d.Nome)
    <Br />
    @Html.LabelFor(d => d.Idade)
    @Html.TextBoxFor(d => d.Idade)    
    <Br />
    @Html.LabelFor(d => d.Cidade)
    @Html.TextBoxFor(d => d.Cidade)        
    <Br />
    <input type="submit" value="Inserir"/>
    @Html.ValidationSummary("Mensagens de Erro")
}